#main-text {
  font-size: 12pt;
  margin-top: 20px;
}
#image-container {
  position: relative;
}
.main-image {
   z-index: -999;
   height: auto;
   width: 100%;
   position: center;
   -webkit-transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -o-transition: opacity 2s ease-in-out;
   -ms-transition: opacity 2s ease-in-out;
   transition: opacity 2s ease-in-out;

   /*
   -webkit-transition: background 2s linear;
   -moz-transition: background 2s linear;
   -o-transition: background 2s linear;
   -ms-transition: background 2s linear;
   transition: background 2s linear;
   */
}
#primary-mainimg {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}
figure{
  display:flex;
  flex-flow: column;
  float: left;
  padding: 10px;
  margin: auto;
}

#about-img{
  max-width: 250px;
  margin: auto;
  margin-right: 18%;
}

figure img{
  margin-bottom: 7%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 600px){
  figure {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 100%;
    padding: 7px;
  }

}


figure figcaption{
  text-align: center;
  padding: 10px;
  margin-right: 18%;
  font: smaller;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.post-tag-mark{
  font-size: 90%;
  padding: 0 .5rem .1rem .5rem;
  border-radius: 5px:
  overflow: auto;
  background-color: #65C7BC !important;
  color: #FFFFFF;
}
.post-tag-mark:hover{
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

/*---- Blog post: Notebook Doodles ---*/
