#main-text {
  font-size: 12pt;
  margin-top: 20px;
}
#image-container {
  position: relative;
}
.main-image {
   z-index: -999;
   height: 50%;
   width: auto;
   postion: center;
   -webkit-transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -o-transition: opacity 2s ease-in-out;
   -ms-transition: opacity 2s ease-in-out;
   transition: opacity 2s ease-in-out;

   /*
   -webkit-transition: background 2s linear;
   -moz-transition: background 2s linear;
   -o-transition: background 2s linear;
   -ms-transition: background 2s linear;
   transition: background 2s linear;
   */
}
#primary-mainimg {
  opacity: 1
}
