#main-text {
  font-size: 12pt;
  margin-top: 20px;
}
#image-container {
  position: relative;
}

.row{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
}
@media screen and (max-width: 600px){
  .row{

    grid-template-columns: 1fr;
  }
}



.col1-text {
  vertical-align: middle;
  position: relative;
  top: 2em;

}


.main-image {
   z-index: -999;
   height: auto;
   width: 100%;
   position: center;
   -webkit-transition: opacity 2s ease-in-out;
   -moz-transition: opacity 2s ease-in-out;
   -o-transition: opacity 2s ease-in-out;
   -ms-transition: opacity 2s ease-in-out;
   transition: opacity 2s ease-in-out;

   /*
   -webkit-transition: background 2s linear;
   -moz-transition: background 2s linear;
   -o-transition: background 2s linear;
   -ms-transition: background 2s linear;
   transition: background 2s linear;
   */
}
#primary-mainimg {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}
figure{
  display:flex;
  flex-flow: column;
  float: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

#home-img{
  max-width: 250px;
  margin: auto;
  border-radius: 5px;
}
@media screen and (max-width: 600px){
  #home-img{ 
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

#about-img{
  max-width: 250px;
  margin: auto;
  border-radius: 5px;
  margin: 10px 5em 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 600px){
  #about-img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    float: none;
  }

}

figure img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 600px){
  figure {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0px;
  }

}


figure figcaption{
  text-align: center;
  padding: 10px;
  float: left;
  margin-right: auto;
  margin-left: auto;
  font: smaller;
}
@media screen and (max-width: 600px){
  figure figcaption{
    margin-top: 10px;
    float: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.post-tag-mark{
  font-size: 90%;
  padding: 0 .5rem .1rem .5rem;
  border-radius: 5px:
  overflow: auto;
  background-color: #2b2b2b !important;
  color: #FFFFFF;
}
.post-tag-mark:hover{
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

#misc figure{
  display:inline-block;
  flex-flow: column;
  float: center;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

#misc figure img{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 600px){
  #misc figure {
    display: block;
    margin-left:auto;
    margin-right: auto;
    max-width: 100%;
    padding: 0px;
  }

}


#misc figure figcaption{
  text-align: center;
  padding: 10px;
  float: center;
  margin-right: auto;
  margin-left: auto;
  font: smaller;
}
@media screen and (max-width: 600px){
  #misc figure figcaption{
    margin-top: 10px;
    float: none;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

/*---- Blog post: Notebook Doodles ---*/

a{
  font-weight: bolder;
}
